---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import Globe from '../components/Globe.astro';
---

<Layout title="Home | My Portfolio" description="Welcome to my professional portfolio">
  <div class="min-h-[calc(100vh-8rem)] flex flex-col items-center justify-center">
    {/* Welcome Section */}
    <div class="mb-12">
      <Welcome />
    </div>
    
    {/* Globe Section */}
    <div class="w-full max-w-2xl mx-auto mt-8">
      <Globe />
    </div>
    
    {/* Scroll Indicator */}
    <div class="absolute bottom-8 left-1/2 transform -translate-x-1/2 animate-bounce">
      <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7-7-7m14-6l-7 7-7-7"></path>
      </svg>
    </div>
  </div>
</Layout>